# Week 04a Assignment weather data

Welcome to week four of this course programming 1. Analyzing time related data such as estimating seasonal effect, or year effect might be a challenge. How to filter the essential information from the noise? How to apply signal analysis with noisy data. How to make compact useful visualizations? Python has several constructs to handle date time related data. The relevant classes for making plots are Locators and Formatters. Locators determine where the ticks are, and formatters control the formatting of tick labels. The relevant class for date time data is the pandas datetime data type, which has methods like resample and several possibilities to display data (frequencies). As a study case we will work with weather data. If you have data that fits the learning goals, you can bring your own data.

Keywords: signal processing, smoothing, resample, formatters and locators, datetime object

More to read: 

- https://fennaf.gitbook.io/bfvm22prog1/
- https://machinelearningmastery.com/time-series-data-visualization-with-python/
- https://towardsdatascience.com/how-to-plot-time-series-86b5358197d6
- In the https://pandas.pydata.org/docs/reference/offset_frequency.html you can find more about frequencies and in the documentation
- https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html you can read all the methods of this datetime object.
- https://en.wikipedia.org/wiki/Smoothing


Learning objectives

- load, inspect and clean a dataset
- reshape dataframes to group data in a certain frequency
- apply smoothing technologies
- Create useful visualisation with timeseries data
- Maintain development environment 
- Apply coding standards and FAIR principles

Please add topics you want to learn here: https://padlet.com/ffeenstra1/z9duo25d39dcgezz


## Assignment

You will to organise your data into the required format and apply smoothing. In this assignment we will work with weatherdata from the KNMI. A subset of weatherdata is for you available in the file: `KNMI_20181231`. The data consist of several stations with daily weather data of several years. Your task is to make a plot similar to the plot below. 

<img src="../images/weather.png" alt="drawing" width="400"/>


Furthermore the plot needs the following enhancements

1. proper titles and ticks
2. widgets selecting a particular year or all years
3. lines need to be smoothed
3. legends needs to be added

Use your creativity. Consider colors, alpha settings, sizes etc. 

Learning outcomes

- load, inspect and clean a dataset 
- reformat dataframes
- apply smoothing technologies
- visualize timeseries data

The assignment consists of 6 parts:

- [part 1: load the data](#0)
- [part 2: clean the data](#1)
- [part 3: reformat data](#2)
- [part 4: smooth the data](#3)
- [part 5: visualize the data](#4)
- [part 6: Challenge](#5)

Part 1 and 5 are mandatory, part 6 is optional (bonus)
Mind you that you cannot copy code without referencing the code. If you copy code you need to be able to explain your code verbally and you will not get the full score. 


NB if you want to make a plot with more actual data you can download data from https://openweathermap.org/api

---

<a name='0'></a>
## Part 1: Load the data

Either load the dataset `KNMI_20181231.csv` or `KNMI_20181231.txt.tsv`. 
Preferably we read the data not with a hard coded data path but using a config file. See https://fennaf.gitbook.io/bfvm22prog1/data-processing/configuration-files/yaml. 

- The dataheaders contain spaces and are not very self explainable. Change this into more readable ones. 
- Select data from a station. Station 270 is in the neighborhood of Groningen. 
- For our plot we only need the the mean, minimum and maximum temperature. Of course you are welcome to select other data if you think it might be useful for your visualization. The data should look something like this:

In [1]:
import yaml
import pandas as pd
import numpy as np

In [2]:
# Import data
with open('config.yaml', 'r') as stream:
    config = yaml.safe_load(stream)
    
path = config['filepath_ass4a']

In [3]:
# Retrieve headers
with open(path, 'r') as file:
    comments = file.read()
    comments = comments.split('#')

# Locating row header
headers_raw = comments[-2]
# Splitting headers
headers_raw = headers_raw.split(',')

# Remove tab in the front
headers = []
for i in headers_raw:
    headers.append(i.strip())
    
headers

['STN', 'YYYYMMDD', 'TG', 'TN', 'TX', 'SQ', 'DR', 'RH']

In [4]:
# Read file, skips first line with '#'. Tabs are NaN
df = pd.read_csv(path,
                    sep=',',
                    header= None, 
                    comment= '#',
                    na_values= '     ',
                   )
df.columns = headers

In [5]:
# Rename columns
header_dict = {'YYYYMMDD': 'date',
                'TG': 'Tmean',
                'TN': 'Tmin',
                'TX': 'Tmax',
                }

df = df.rename(columns= header_dict)

df.tail()

        STN      date  Tmean  Tmin  Tmax    SQ    DR    RH
331311  391  20181227   12.0 -18.0  47.0  28.0   0.0   0.0
331312  391  20181228    7.0 -29.0  30.0  23.0   0.0   0.0
331313  391  20181229   59.0  25.0  92.0   0.0  15.0   5.0
331314  391  20181230   78.0  52.0  87.0   3.0  42.0  17.0
331315  391  20181231   89.0  74.0  97.0   0.0   0.0  -1.0

In [6]:
# Get date in the right format

df['date'] = pd.to_datetime(df['date'], format= "%Y%m%d")
# My df['date'] now also contains hours.. I tried to solve it with:
# df['date'] = pd.to_datetime(df['date'].dt.date)
# But this resulted in all months to be changed to '1'..
# Still don't know how to get rid of the hours..
#### It magically fixed it self !

print(df['date'].head())
df.info()

0   2001-01-30
1   2001-01-31
2   2001-02-01
3   2001-02-02
4   2001-02-03
Name: date, dtype: datetime64[ns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331316 entries, 0 to 331315
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   STN     331316 non-null  int64
 1   date    331316 non-null  datetime64[ns]
 2   Tmean   237566 non-null  float64
 3   Tmin    237567 non-null  float64
 4   Tmax    237567 non-null  float64
 5   SQ      223728 non-null  float64
 6   DR      223669 non-null  float64
 7   RH      224072 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 20.2 MB

In [7]:
# Select Grunn
df = df[df['STN'] == 270]

In [8]:
df.head()

       STN       date  Tmean  Tmin  Tmax    SQ     DR     RH
97641  270 2000-01-01   42.0  -4.0  79.0  49.0   15.0   11.0
97642  270 2000-01-02   55.0  33.0  74.0  12.0    0.0   -1.0
97643  270 2000-01-03   74.0  49.0  89.0   0.0  124.0  172.0
97644  270 2000-01-04   46.0  22.0  75.0   4.0   13.0   11.0
97645  270 2000-01-05   41.0  14.0  56.0  56.0    0.0    0.0

       station       Date  Tmean  Tmin  Tmax
97641      270 2000-01-01   42.0  -4.0  79.0
97642      270 2000-01-02   55.0  33.0  74.0
97643      270 2000-01-03   74.0  49.0  89.0
97644      270 2000-01-04   46.0  22.0  75.0
97645      270 2000-01-05   41.0  14.0  56.0

---

<a name='1'></a>
## Part 2: Clean the data

The data ia not clean. There are empty cells in the dataframe which needs to be replaced with NaN's and the temperature is in centidegrees which needs to be transformed into degrees. The date field needs a datetime format. For visualization convience we would like to remove the leap year. Conduct the cleaning.

In [9]:
#replace cells with spaces to NaN
#change data formats
#change temperatures to celcius degrees
#remove leap year

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6940 entries, 97641 to 104580
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STN     6940 non-null   int64
 1   date    6940 non-null   datetime64[ns]
 2   Tmean   6940 non-null   float64
 3   Tmin    6940 non-null   float64
 4   Tmax    6940 non-null   float64
 5   SQ      6940 non-null   float64
 6   DR      6940 non-null   float64
 7   RH      6940 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 488.0 KB

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<ul><li>pd.to_datetime(df['Date'].astype(str), format='%Y%m%d')</li>
    <li>regex for empty cells = `^\s*$` </li>
    <li>remove month == 2 & day == 29</li> 
</ul>
</details>

In [10]:
# Remove leap year

# Add a column that indicates if entry is within a leapyear:
df = df.copy()
df['leapyear'] = df['date'].dt.is_leap_year

# Remove leapyear entries, and then remove [leapyear] column:
df = df[df['leapyear'] == False]
df = df.drop(columns='leapyear')

#Test your outcome
#write code to check if you have done the above
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5110 entries, 98007 to 104580
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STN     5110 non-null   int64
 1   date    5110 non-null   datetime64[ns]
 2   Tmean   5110 non-null   float64
 3   Tmin    5110 non-null   float64
 4   Tmax    5110 non-null   float64
 5   SQ      5110 non-null   float64
 6   DR      5110 non-null   float64
 7   RH      5110 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 359.3 KB

In [11]:
# Change centidegrees to degrees
df['Tmean'] = df['Tmean'] / 10
df['Tmin'] = df['Tmin']   / 10
df['Tmax'] = df['Tmax']   / 10
df.head()

       STN       date  Tmean  Tmin  Tmax    SQ    DR     RH
98007  270 2001-01-01    2.1   0.4   3.8   0.0  54.0   53.0
98008  270 2001-01-02    6.3   3.7   8.5  22.0  29.0   36.0
98009  270 2001-01-03    5.3   2.6   7.9  43.0  31.0   24.0
98010  270 2001-01-04    6.5   4.6   7.9   0.0  55.0   71.0
98011  270 2001-01-05    6.6   5.6   8.3   0.0  80.0  129.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5110 entries, 98007 to 104580
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STN     5110 non-null   int64
 1   date    5110 non-null   datetime64[ns]
 2   Tmean   5110 non-null   float64
 3   Tmin    5110 non-null   float64
 4   Tmax    5110 non-null   float64
 5   SQ      5110 non-null   float64
 6   DR      5110 non-null   float64
 7   RH      5110 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(1)
memory usage: 359.3 KB

### Expected outcome

DatetimeIndex: 24820 entries, 1951-01-01 to 2018-12-31
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype         
---  ------   --------------  -----         
 0   station  24820 non-null  int64         
 1   Date     24820 non-null  datetime64[ns]
 2   Tmean    24819 non-null  float64       
 3   Tmin     24819 non-null  float64       
 4   Tmax     24819 non-null  float64       
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 1.1 MB

---

<a name='2'></a>
## Part 3: Reform your data

- First we will split the data in data from 2018 and data before 2018. Best is to split this in two dataframes. 
- Next we need for the non 2018 data the minimum values for each day and the maximum values for each day. So we look for the minimum value out of all january-01 minimum values (regardless the year). 
- Create a dataframe with 365 days containing the ultimate minimum and the ultimate maximum per day.

In [13]:
# Split the data in [data from 2018] (= df_2018) and [data before 2018] (= df_before_2018)
df_2018 = df[df['date'].dt.year == 2018]
df_before_2018 = df[df['date'].dt.year != 2018]

In [14]:
print(f'Original df has {df.shape[0]} entries. \n\ndf_2018 has {df_2018.shape[0]}, df_before_2018 has {df_before_2018.shape[0]}.\nTogether they have {df_2018.shape[0] + df_before_2018.shape[0]} entries.')

Original df has 5110 entries.

df_2018 has 365, df_before_2018 has 4745.
Together they have 5110 entries.

In [15]:
df_before_2018.head()

       STN       date  Tmean  Tmin  Tmax    SQ    DR     RH
98007  270 2001-01-01    2.1   0.4   3.8   0.0  54.0   53.0
98008  270 2001-01-02    6.3   3.7   8.5  22.0  29.0   36.0
98009  270 2001-01-03    5.3   2.6   7.9  43.0  31.0   24.0
98010  270 2001-01-04    6.5   4.6   7.9   0.0  55.0   71.0
98011  270 2001-01-05    6.6   5.6   8.3   0.0  80.0  129.0

In [16]:
# Groupby on df_2018 to get the Tmean

df_temp1 = df_2018.copy()

# Split [date] into the different date formats, so that the groupby can be done on ['month','day']
df_temp1['month'] = df_temp1['date'].dt.month
df_temp1['year'] = df_temp1['date'].dt.year
df_temp1['day'] = df_temp1['date'].dt.day

# df_test = df_test.set_index([#'year',
#                              'month', 
#                              'day',
#                             ]).sort_index()

df_groupedbymonthday_2018 = df_temp1.groupby(['month','day'])

# Tmean of 2018
ser_Tmean_2018 = df_groupedbymonthday_2018.mean()['Tmean']
ser_Tmean_2018

month  day
1      1      6.0
       2      5.6
       3      7.5
       4      7.3
       5      6.0
             ...
12     27     5.7
       28     7.1
       29     8.5
       30     8.0
       31     8.7
Name: Tmean, Length: 365, dtype: float64

In [17]:
# Groupby on df_before_2018 to get the Tmin and Tmax

df_temp2 = df_before_2018.copy()

# Split [date] into the different date formats, so that the groupby can be done on ['month','day']
df_temp2['month'] = df_temp2['date'].dt.month
df_temp2['year'] = df_temp2['date'].dt.year
df_temp2['day'] = df_temp2['date'].dt.day

# df_test = df_test.set_index([#'year',
#                              'month', 
#                              'day',
#                             ]).sort_index()


df_groupedbymonthday_before_2018 = df_temp2.groupby(['month', 'day'])


# Tmin of day (over the past x years)
ser_Tmin = df_groupedbymonthday_before_2018.min()['Tmin']

# Tmax of day (over the past x years)
ser_Tmax = df_groupedbymonthday_before_2018.max()['Tmax']

# Merged Tmin and Tmax into one DataFrame
df_over_years = pd.merge(left=ser_Tmin, right=ser_Tmax, on= ['month', 'day'])
df_over_years

           Tmin  Tmax
month day
1     1    -5.8  10.1
      2    -7.5  10.2
      3   -12.6  10.7
      4    -6.7   9.8
      5    -6.2   9.4
...         ...   ...
12    27   -6.0  11.7
      28   -7.4  10.9
      29   -7.3   8.6
      30   -6.7  11.1
      31   -5.1  11.8

[365 rows x 2 columns]

In [18]:
# I'd like to change the indexes to one format like: 01-01-2018
# So that it is single indexed again. (I could not figure out how to make Bokeh work with MultiIndex)
# So maybe I should not have made the separate columns of [day] and [month]. 
# (But I could not figure out how to do the groupby while datetime was still combined.)
# https://docs.bokeh.org/en/latest/docs/user_guide/data.html

df_temp3 = df_over_years.copy()

df_temp3 = df_temp3.reset_index()
df_temp3['year'] = '2018'

# https://cmdlinetips.com/2021/02/combine-year-month-and-day-columns-to-single-date-in-pandas/

cols=["year","month","day"]
df_temp3['date'] = df_temp3[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
df_temp3['date'] = pd.to_datetime(df_temp3['date'], format= "%Y-%m-%d")
df_over_years = df_temp3.drop(columns= ['month','day', 'year']).copy()

df_over_years

     Tmin  Tmax       date
0    -5.8  10.1 2018-01-01
1    -7.5  10.2 2018-01-02
2   -12.6  10.7 2018-01-03
3    -6.7   9.8 2018-01-04
4    -6.2   9.4 2018-01-05
..    ...   ...        ...
360  -6.0  11.7 2018-12-27
361  -7.4  10.9 2018-12-28
362  -7.3   8.6 2018-12-29
363  -6.7  11.1 2018-12-30
364  -5.1  11.8 2018-12-31

[365 rows x 3 columns]

In [19]:
# Same trick for df_2018
df_temp4 = ser_Tmean_2018.copy()

df_temp4 = df_temp4.reset_index()
df_temp4['year'] = '2018'
df_temp4
# https://cmdlinetips.com/2021/02/combine-year-month-and-day-columns-to-single-date-in-pandas/

cols=["year","month","day"]
df_temp4['date'] = df_temp4[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
df_temp4['date'] = pd.to_datetime(df_temp4['date'], format= "%Y-%m-%d")
df_temp4 = df_temp4.drop(columns= ['month','day', 'year']).copy()
ser_Tmean_2018 = df_temp4.copy()
ser_Tmean_2018

     Tmean       date
0      6.0 2018-01-01
1      5.6 2018-01-02
2      7.5 2018-01-03
3      7.3 2018-01-04
4      6.0 2018-01-05
..     ...        ...
360    5.7 2018-12-27
361    7.1 2018-12-28
362    8.5 2018-12-29
363    8.0 2018-12-30
364    8.7 2018-12-31

[365 rows x 2 columns]

In [20]:
# def month_day(df_multipleyears):
#     #your code to reform data here
    
#     df_test = df_multipleyears.copy()

#     # Select grunn
#     df_test = df_test[df_test['STN'] == 270]



#     df_groupedbymonthday = df_test.groupby(['month', 'day'])
    
#     print(df_groupedbymonthday.min())

In [21]:
# #Test your code
# def test_reformed(df):
#     #
#     df = df[(df.index.year > 2007) & (df.index.year < 2018)]
#     month_day(df)

# test_reformed(df_test)

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<ul><li>use the dt.month and dt.day to groupby</li>
</ul>
</details>

### Expected outcome
Note, the layout or names my differ, but the length should be 365 and the minimum values should be the same

month  day
1      1      -5.8
       2      -7.5
       3     -12.6
       4      -4.1
       5      -6.0
              ... 
12     27     -4.8
       28     -4.2
       29     -6.7
       30    -10.2
       31    -10.6
Name: Tmin, Length: 365, dtype: float64

---

<a name='3'></a>
## Part 4: Smooth the data

Make a function that takes an array or a dataframe column and returns an array of smoothed data. Explain in words why you choose a certain smoothing algoritm. Ask the signal analysis teacher if you want some advice.

In [22]:
df_over_years.head()

   Tmin  Tmax       date
0  -5.8  10.1 2018-01-01
1  -7.5  10.2 2018-01-02
2 -12.6  10.7 2018-01-03
3  -6.7   9.8 2018-01-04
4  -6.2   9.4 2018-01-05

In [33]:
# https://stackoverflow.com/questions/61338944/how-to-smooth-line-from-a-pandas-dataframe
# df.interpolate?


# Funtions for smoothing data:
def RollingData(df, column1, column2, n_observations):
    """SmoothingData(df, n_observations)
    Further description"""
    # n_observations = 5

    df_temp5 = df.copy()
    df_temp5[f'{column1}_roll'] = df_temp5[column1].rolling(n_observations, win_type='gaussian').mean(std=3)
#     df_temp5[f'{column1}_roll'] = df_temp5[column1].rolling(n_observations, win_type='gaussian').mean(std=3)
    df_temp5[f'{column2}_roll'] = df_temp5[column2].rolling(n_observations).mean()
    return df_temp5

df_en = RollingData(df_over_years, 'Tmin', 'Tmax', 5)
df_en

     Tmin  Tmax       date  Tmin_roll  Tmax_roll
0    -5.8  10.1 2018-01-01        NaN        NaN
1    -7.5  10.2 2018-01-02        NaN        NaN
2   -12.6  10.7 2018-01-03        NaN        NaN
3    -6.7   9.8 2018-01-04        NaN        NaN
4    -6.2   9.4 2018-01-05  -7.931972      10.04
..    ...   ...        ...        ...        ...
360  -6.0  11.7 2018-12-27  -6.129242      12.24
361  -7.4  10.9 2018-12-28  -5.366012      12.10
362  -7.3   8.6 2018-12-29  -6.208951      11.48
363  -6.7  11.1 2018-12-30  -6.531786      11.12
364  -5.1  11.8 2018-12-31  -6.571027      10.82

[365 rows x 5 columns]

In [ ]:
def

In [ ]:
#your code here
#your motivation here

---

<a name='4'></a>
## Part 5: Visualize the data

Plot the mean temperature of the year 2018. Create a shaded band with the ultimate minimum values and the ultimate maximum values from the multi-year dataset. Add labels, titles and legends. Use proper ranges. Be creative to make the plot attractive.

<details>    
<summary>
    <font size="3" color="darkgreen"><b>Hints</b></font>
</summary>
<ul><li>use from bokeh.models import Band</li>
    <li>use ColumnDataSource to parse data arrays</li>
    <li>look for xaxis tick formatters</li>
</ul>
</details>

---

In [24]:
from bokeh.io import output_notebook
from bokeh.plotting import figure, show
from bokeh.layouts import gridplot

from bokeh.plotting import ColumnDataSource

from bokeh.models import Band

# Tick formatter:
from bokeh.models import DatetimeTickFormatter

output_notebook()

In [25]:
# Data:
Tmean_2018 = ColumnDataSource(ser_Tmean_2018)
over_years = ColumnDataSource(df_over_years)


# Initialize figure:
p = figure(title= 'Mean temperatures of 2018', 
           x_axis_label= 'Month', 
           x_axis_type= 'datetime',
           y_axis_label= f'Temperature ({chr(176)}C)',
          )

################################

# # Band min and max of past x years
# band = Band(base= "date", 
#        lower= "Tmin", 
#        upper= "Tmax", 
#        source= over_years,
            
#        fill_alpha=0.3, 
#        fill_color="gray", 
# #        line_color="black",
#            )
# p.add_layout(band)

# # Band min and max of past x years
# band = Band(base= "date", 
#        lower= "Tmin_roll", 
#        upper= "Tmax_roll", 
#        source= over_years,
            
#        fill_alpha=0.3, 
#        fill_color="gray", 
# #        line_color="black",
#            )
# p.add_layout(band)


################################

# Line mean temperature of year 2018
p.line(x= 'date', 
       y= 'Tmean',
       source= Tmean_2018
      )
# Change x-axis format to written months.
p.xaxis[0].formatter = DatetimeTickFormatter(months="%b")

show(p)

# Example from Fenna
<img src="../images/weather.png" alt="drawing" width="400"/>

<a name='5'></a>
## Part 6: Challenge

Make a widget in which you can select the year range for the multiyear set. Or maybe a widget were you choose a different station. Add this to your layout to make the plot interactive. Add another widget to select or deselect the smoother. Inspiration: https://demo.bokeh.org/weather