# PROGRAMMING1 - FINAL ASSIGNMENT
## Comparing two RNA quantification methods - NanoDrop vs TapeStation
#### Jennefer Beenen - Data Science for Life Sciences - January 2023

---


## Background
Isolated RNA needs to be quantified in order to have the correct amount of starting input for RNA library preparation for sequencing. The input used for library prep. can i.e. have a range from 5 - 200 ng, where the optimal can be at 100 ng.

The research sequencing facility (RSF) has two devices for RNA quantification, of which both use a different methods:
- [NanoDrop 2000](https://www.thermofisher.com/order/catalog/product/ND-2000) (ThermoFisher) measures light intensity in a range of different light wavelengths. [Manual](https://assets.thermofisher.com/TFS-Assets/CAD/manuals/NanoDrop-2000-User-Manual-EN.pdf)
- [TapeStation 4200](https://www.agilent.com/en/product/automated-electrophoresis/tapestation-systems/tapestation-instruments/4200-tapestation-system-228263) (Agilent) measures fluorescently stained fragements that are separated by electrophoresis. [Manual](http://download.chem.agilent.com/software/4200_tapestation_user_info_package_v2/tapestation%20user%20information/tapestation%20manuals/agilent%204200%20tapestation%20system%20manual_g2991-90000.pdf)
  
  Agilent provides two different RNA kits for the TapeStation:
  - [High Sensitivity RNA](https://www.agilent.com/en/product/automated-electrophoresis/tapestation-systems/tapestation-rna-screentape-reagents/high-sensitivity-rna-screentape-analysis-228267), Quantitative Range of 0.5 - 10 ng/µL
  - [Standard RNA](https://www.agilent.com/en/product/automated-electrophoresis/tapestation-systems/tapestation-rna-screentape-reagents/rna-screentape-analysis-228268), Quantitative Range of 25 - 500 ng/µL

### Aim of this assignment (research question)
What makes that both methods (NanoDrop and TapeStation) sometimes differ in outcome?

Variables: 260/280 ratio’s (NanoDrop), 260/230 ratio’s (NanoDrop), RNA Integrity Number (RIN) (TapeStation), and used kit (TapeStation).

  <details>    
  <summary>
  <font size="3" color="lightblue">Ratio's explained</font>
  </summary>
  260/280 ratio
  <blockquote>
  The ratio of absorbance at 260 and 280 nm is used to
  assess the purity of DNA and RNA. A ratio of ~1.8 is generally accepted as “pure” for DNA; a ratio of ~2.0 is
  generally accepted as “pure” for RNA. If the ratio is appreciably lower in either case, it may indicate the
  presence of protein, phenol or other contaminants that absorb strongly at or near 280 nm.
  </blockquote>
  260/230 ratio
  <blockquote>
  This is a secondary measure of nucleic acid purity.
  The 260/230 values for a “pure” nucleic acid are often higher than the respective 260/280 values and are
  commonly in the range of 1.8-2.2. If the ratio is appreciably lower, this may indicate the presence of co-
  purified contaminants.
  </blockquote>
  See NanoDrop manual as reference.
  </details>

>

  <details>    
  <summary>
  <font size="3" color="lightblue">RIN explained</font>
  </summary>
  <blockquote>
  RINe is calculated at a scale from 1 to 10. 
  A high RINe indicates highly intact RNA, and a low
  RINe a strongly degraded RNA sample.
  </blockquote>
   https://www.agilent.com/cs/library/technicaloverviews/public/5991-6616EN.pdf
  </details>

### Data description
The datasets can be found [here](https://unishare.nl/index.php/s/j78cSJc5gXQidLy). It is password protected which Jennefer can provide.

A staff member of the RSF (Rianna Arjaans) already gathered information of both methods (TODO: Hoe heeft ze dat gedaan??) and placed it in one excel sheet (see 'TS_vs_ND_new.xlsx' in 'original' folder). Total number of entries are 260. 

Since for this assignment multiple sources needs to be used, this sheet was manually split by Jennefer into 3 seperate files:

- Nanodrop.xlsx
  - Sample, sample name.
  - dil. Factor, dilution factor used for getting sample in detection range of used methods of the TS.
  - Nanodrop (ng/ul), concentration of stock sample measured by the NanoDrop.
  - Naodrop dil. (ng/ul), concentration of diluted sample measured by the NanoDrop.
  - Cal. Conc. (ng/ul), calculated concentration of `Nanodrop dil. (ng/ul)` multiplied by the `dil. Factor`.
  - 260/280 ratio (~2.0), ratio of absorbance at 260 nm and 280 nm.
  - 260/230 ratio (2.0-2.2), ratio of absorbance at 260 nm and 230 nm.
>

- TapeStation.xlsx
  - Sample, sample name.
  - dil. Factor, dilution factor used for getting sample in detection range of used methods.
  - TS (ng/ul), concentration measured by the TapeStation.
  - Cal. Conc (ng/ul), calculated concentration of `TS (ng/ul)` multiplied by the `dil. Factor`.
  - RIN, RNA Integrity Number.
  - TS type, which TapeStation RNA kit was used; HS is High Sensitivity, SS is Standard Sensitivity.
>

- meta.xlsx 
  - Sample, sample name.
  - dil. Factor, dilution factor used for getting sample in detection range of used methods.
  - nM library, nano Molarity of output library preparation.
  - `unnamed column`, comments.

### Assessment criteria

Conditional
- No data and or api-key information is stored in the repository. 
- No hard datapaths are used, datapaths are provided in a configfile.
- At least two data sets are merged into one tidy dataframe.

Graded
- ~~(5 pt) The research question is stated.~~
- ~~(5 pt) Links to sources are provided and a small description about the data~~
- (20 pt) Data qualitity and data quantity are inspected and reported. Appropiate transformations are applied.
- (20 pt) **Assumptions and presuppositions are made explicit** (chosen data storage method, chosen analysis method, chosen design). An argumentative approach is used explaining steps, taken into account data quality and quantity. Explanation is provided either with comments in the code or in a seperate document.
- (10 pt) Interactive visualization is extracted from correct analysis of (incomplete) data
- (10 pt) The design supports the research question. The data is informative in relation to the topic. Visualization is functional and attractive **Figures contain X and Y labels, title and captions**. (10)
- (20 pt) Code is efficient coded, according to coding style without code smells and easy to read. Code is demonstrated robust and flexible 
- (10 pt) All the code is stored in repository with **Readme including most relevant information to implement the code.** used software is suitably licensed and documented

- **Comment what you can expect, and comment the results**
- **If you use code snippets from others you should refer to the original author, otherwise you will be accused of plagiarism. Please be prepared to explain your code in a verbal exam.**

### Instructions:

- Define a research question, select data and code your data acquisition, data processing, data analysis and visualization. 
- Use a repository with a commit strategy and write a readme file. 
- Make sure that you document your choices.

### Data selection

In [84]:
# Import libraries
import yaml
import os
import pandas as pd
import numpy as np

# Get folder_path from config.yaml
with open('config.yaml', 'r') as stream:
    config = yaml.safe_load(stream)

folder_path = config['filepath_final']

In [85]:
def all_excel_files_to_df(folder_path):
    """
    all_excel_files_to_df() will return a list containing DataFrames of all '.xlsx' files in folder_path

    folder_path = string to which folder the function should look into for files.
    """

    # Get all ls_file_names in folder_path
    ls_file_names = os.listdir(folder_path)

    # Make a list (ls_of_dfs) containing [file_name, DataFrames of file_name] from folder_path if file_name ends with '.xlsx'.
    # file_name is added to the list for reporting troubleshooting info later on.
    # Return a usefull message if an error occures during the process.
    ls_of_dfs = []

    for file_name in ls_file_names:

        if os.path.splitext(file_name)[1] == '.xlsx':
            
            try:
                df_temp = pd.read_excel(folder_path + file_name)
                ls_of_dfs.append([file_name, df_temp]) 

            except:
                print('An error occured while pd.read_excel(file_name) was executed.')

        else:
            print(f"{file_name} will not be transformed into a DataFrame, for it does not end with '.xlsx'.")

    print(f'Total of {len(ls_of_dfs)} DataFrames were generated.')
    return ls_of_dfs

"""I think this way of converting files to DataFrames is a bit over done for this application, 
but I already finished the code before I thought about it. I think for this particular application 
it would be better to have a variable in the config.yaml where the user can enter which files 
needed to be converted to a DataFrame separated by a comma. 
There is no need to look into all the files in this directory. It actually makes it more error prone."""

# Make a list (ls_of_dfs) containing DataFrames of all '.xlsx' files in folder_path
ls_of_dfs = all_excel_files_to_df(folder_path)

Invisible_folder will not be transformed into a DataFrame, for it does not end with '.xlsx'.
Total of 3 DataFrames were generated.

#### Inspecting how to merge

(Would it be possible to store DataFrames as a 'value' in pandas?)

In [86]:
# Return common column names.

for n, df in enumerate(ls_of_dfs):

    # First fills temp_set1 with the column names of the first DataFrame, 
    if n == 0:
        temp_set1 = set(df[1].columns)    

    # then compare it with column names of all other DataFrames.
    else:
        temp_set1 = temp_set1 & set(df[1].columns)

common_columns = list(temp_set1)
common_columns

['Sample', 'dil. Factor']

In [87]:
# This function is used in the next block.
# It is used to find indexes of values that cause an 'error'.
# Code was modified from:
# https://stackoverflow.com/questions/33938488/finding-the-index-of-an-element-in-nested-lists-in-python

def index_value_in_list(my_list, value):
    """
    index_value_in_list() will return a list with indexes where value was found.
    my_list = a max. 2 level deep list, i.e. [['a', 'b', 'c', 'e'], ['d', 'e', 'f'], ['g', 'h']].
    value = value to be searched for.
    """
    index_list = []
    for n, sub_list in enumerate(my_list):
        if value in sub_list:
            index = [n, sub_list.index(value)]
            index_list.append(index)

    return index_list

In [88]:
# Compare if all df the common_columns share the same values.

false_counter = 0
for n, df in enumerate(ls_of_dfs):

    # First fills temp_set2 with all values of the common columns of the first DataFrame, 
    if n == 0:
        temp_set2 = df[1][common_columns].values

    # then compare it with all values of the common columns of all other DataFrames.
    else:
        # If value is not the same and therefore False, it will add 1 to the false_counter
        # And report which file and lines generated a False
        if False in (df[1][common_columns].values == temp_set2):
            false_counter += 1
            false_list = (df[1][common_columns].values == temp_set2).tolist()
            
            print(f"""There is value discrepancy in file {df[0]}.
Index can be found below.
column reference: {common_columns}
[row#, column#]
""")
            print(index_value_in_list(false_list, False))
            
           
# If false_counter == 0, the DataFrames can be merged 
if false_counter == 0:
    print('All values in the common columns are the same.\nDataFrames are ready to be merged.')
else:
    print('\nPlease resolve value discrepancy (check if values are correct, or exclude file).')

All values in the common columns are the same.
DataFrames are ready to be merged.

In [99]:
# Merge all DataFrames in ls_of_dfs if false_counter == 0.
if false_counter == 0:

    df_merged = ls_of_dfs[0][1]
    for n in range(1,len(ls_of_dfs)):
        df_merged = pd.merge(left= df_merged, 
                             right= ls_of_dfs[n][1], 
                             on= common_columns,
                             )

    df_merged.info()

"""I used a different strategy here. 
I think this one is nicer since I do not have to use 'if it is first item ...' or 'else for the other items'.
I thought about this strategy along the way"""

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 259
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sample                   260 non-null    object
 1   dil. Factor              260 non-null    float64
 2   Nanodrop (ng/ul)         260 non-null    float64
 3   Naodrop dil. (ng/ul)     2 non-null      float64
 4   Cal. Conc. (ng/ul)       2 non-null      float64
 5   260/280 ratio (~2.0)     178 non-null    float64
 6   260/230 ratio (2.0-2.2)  178 non-null    float64
 7   Unnamed: 2               0 non-null      float64
 8   nM library               157 non-null    object
 9   Unnamed: 4               0 non-null      float64
 10  Unnamed: 5               157 non-null    object
 11  Unnamed: 6               40 non-null     object
 12  TS (ng/ul)               260 non-null    float64
 13  Cal. Conc (ng/ul)        260 non-null    float64
 14  RIN                      260 non-null    object
 15  TS Type                  260 non-null    object
dtypes: float64(10), object(6)
memory usage: 34.5+ KB

"I used a different strategy here. \nI think this one is nicer since I do not have to use 'if it is first item ...' or 'else for the other items'.\nI thought about this strategy along the way"

### Data wrangling

In [102]:
df_merged.head()

,Sample,dil. Factor,Nanodrop (ng/ul),Naodrop dil. (ng/ul),Cal. Conc. (ng/ul),260/280 ratio (~2.0),260/230 ratio (2.0-2.2),Unnamed: 2,nM library,Unnamed: 4,Unnamed: 5,Unnamed: 6,TS (ng/ul),Cal. Conc (ng/ul),RIN,TS Type
0,Johnny R0,3.92,19.6,5.4,21.168,1.80,0.95,NaN,NaN,NaN,NaN,NaN,2.68,10.5056,6.3,HS
1,Johnny R2,3.00,15.0,NaN,NaN,1.73,0.93,NaN,NaN,NaN,NaN,NaN,25.60,76.8000,5.8,HS
2,Johnny R4,2.10,10.5,NaN,NaN,1.74,1.04,NaN,NaN,NaN,NaN,NaN,2.29,4.8090,5.1,HS
3,Johnny R6,2.84,14.2,5.4,15.336,1.80,0.66,NaN,NaN,NaN,NaN,NaN,3.49,9.9116,7.5,HS
4,John Doe 1,3.18,15.9,NaN,NaN,2.05,1.42,NaN,87.100749,NaN,ND conc. Used for library prep,NaN,5.20,16.5360,9.5,HS

In [107]:
df_copy = df_merged.copy()
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260 entries, 0 to 259
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Sample                   260 non-null    object
 1   dil. Factor              260 non-null    float64
 2   Nanodrop (ng/ul)         260 non-null    float64
 3   Naodrop dil. (ng/ul)     2 non-null      float64
 4   Cal. Conc. (ng/ul)       2 non-null      float64
 5   260/280 ratio (~2.0)     178 non-null    float64
 6   260/230 ratio (2.0-2.2)  178 non-null    float64
 7   Unnamed: 2               0 non-null      float64
 8   nM library               157 non-null    object
 9   Unnamed: 4               0 non-null      float64
 10  Unnamed: 5               157 non-null    object
 11  Unnamed: 6               40 non-null     object
 12  TS (ng/ul)               260 non-null    float64
 13  Cal. Conc (ng/ul)        260 non-null    float64
 14  RIN                      260 non-null    object
 15  TS Type                  260 non-null    object
dtypes: float64(10), object(6)
memory usage: 34.5+ KB

In [106]:
print("""
Wrangling to be done:
Column level:
- There are two columns that have no values ['Unnamed: 2', 'Unnamed: 4',], these need to be removed.
- ['RIN', 'nM library'] has dtype of object, but this should be float (see .head above)  
- Why keep columns ['Unnamed: 5', 'Unnamed: 6',]?

Row level:
- 'Maxwell' samples used TS reagents that were past expiration date.
- John Doe RIN are outliers: these samples are insect RNA, see https://pubmed.ncbi.nlm.nih.gov/21067419/
""")

Wrangling to be done:
Column level:
- There are two columns that have no values ['Unnamed: 2', 'Unnamed: 4',], these need to be removed.
- ['RIN', 'nM library'] has dtype of object, but this should be float (see .head above)
- Why keep columns ['Unnamed: 5', 'Unnamed: 6',]?

Row level:
- 'Maxwell' samples used TS reagents that were past expiration date.
- John Doe RIN are outliers: these samples are insect RNA, see https://pubmed.ncbi.nlm.nih.gov/21067419/

In [ ]:
# Drop columns ['Unnamed: 2', 'Unnamed: 4',]
df_merged = df_merged.drop(columns= ['Unnamed: 2', 'Unnamed: 4',])

In [116]:
# Look what values are in ['RIN'] what could explain the wrong called dtype.
df_merged['RIN'].values

array([6.3, 5.8, 5.1, 7.5, 9.5, 9.5, 9.6, 9.5, 9.4, 9.6, 9.5, 9.6, 9.5,
       9.4, 9.4, 9.6, 9.7, 9.5, 9.5, 9.6, 9.5, 9.6, 9.6, 9.6, 9.6, 9.6,
       9.7, 9.3, 9.4, 9.7, 9.6, 9.6, 9.3, 9.7, 9.5, 9.6, 9.3, 9.6, 9.5,
       9.5, 9.9, 9.5, 5.6, 8.8, 8.5, 7.7, '-', 8.9, 9, 7.4, '-', 2.7, '-',
       '-', '-', 3.2, '-', '-', '-', 8.8, 8.5, 7.6, '-', 8.5, 8.5, '-',
       '-', 4.4, 4.1, '-', '-', 4.4, 4.8, '-', '-', 9.4, 8.7, 6.2, '-',
       9.2, 8.3, 6.1, '-', 5.3, 5.1, '-', '-', 3.6, 2.9, '-', '-', 7.5,
       4.3, 6.1, 7.7, 4.6, 5, 4.4, 6, 8.9, 9.7, 9.8, 9.3, 9.9, 10, 9, 9.8,
       9.7, 8.5, 9.3, 9.4, 9.6, 10, 8.2, 9.4, 9.1, 9.5, 7.9, 9.7, 9.6,
       9.1, 9.5, 7.9, 9.8, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       9.9, 10, 9.9, 9.9, 9.9, 9.8, 9.9, 9.5, 9.9, 9.6, 9.8, 10, 10, 9.9,
       10, 10, 9.8, 9.4, 9.7, 9.9, 9.8, 10, 10, 10, 10, 10, 10, 10, 10,
       9.9, 9.8, 10, 10, 10, 10, 10, 10, 9.8, 9.9, 10, 10, 9.7, 9.9, 10,
       9.8, 9.5, 9.4, 9.7, 9.5, 9.7, 9.7, 9.8, 9.8, 9.8, 9.8, 9.7, 9.7,
       9.8, 9.9, 9.8, 9.7, 9.7, 9.8, 9.7, 9.8, 9.8, 7.5, 9.6, 9.3, 9.6,
       9.2, 9.3, 8.3, 9.2, 8.9, 2.7, 1, 1.3, 1.6, 9.5, 9.3, 9.6, 9.4, 9.6,
       9.6, 9.9, 10, 10, 10, 9.9, 10, 10, 9.9, 9.7, 9.7, 9, 8.1, 9.4, 9.6,
       9.7, 9.5, 6.7, 9.4, 9.1, 8.8, 9.6, 7.9, 9.3, 8.4, 4.6, 9.3, 8.6,
       9.5, 9.6, 9.8, 8.9, 9.8, 10, 9.8, 9.9, 9.8, 10, 9.9, 9.8],
      dtype=object)

In [123]:
# The '-' are the problem. This needs to be changed to NaN:
df_merged = df_copy.copy()
df_merged['RIN'] = df_merged['RIN'].replace({'-': np.nan})
df_merged['RIN']

array([ 6.3,  5.8,  5.1,  7.5,  9.5,  9.5,  9.6,  9.5,  9.4,  9.6,  9.5,
        9.6,  9.5,  9.4,  9.4,  9.6,  9.7,  9.5,  9.5,  9.6,  9.5,  9.6,
        9.6,  9.6,  9.6,  9.6,  9.7,  9.3,  9.4,  9.7,  9.6,  9.6,  9.3,
        9.7,  9.5,  9.6,  9.3,  9.6,  9.5,  9.5,  9.9,  9.5,  5.6,  8.8,
        8.5,  7.7,  nan,  8.9,  9. ,  7.4,  nan,  2.7,  nan,  nan,  nan,
        3.2,  nan,  nan,  nan,  8.8,  8.5,  7.6,  nan,  8.5,  8.5,  nan,
        nan,  4.4,  4.1,  nan,  nan,  4.4,  4.8,  nan,  nan,  9.4,  8.7,
        6.2,  nan,  9.2,  8.3,  6.1,  nan,  5.3,  5.1,  nan,  nan,  3.6,
        2.9,  nan,  nan,  7.5,  4.3,  6.1,  7.7,  4.6,  5. ,  4.4,  6. ,
        8.9,  9.7,  9.8,  9.3,  9.9, 10. ,  9. ,  9.8,  9.7,  8.5,  9.3,
        9.4,  9.6, 10. ,  8.2,  9.4,  9.1,  9.5,  7.9,  9.7,  9.6,  9.1,
        9.5,  7.9,  9.8, 10. , 10. , 10. , 10. , 10. , 10. , 10. , 10. ,
       10. , 10. , 10. , 10. ,  9.9, 10. ,  9.9,  9.9,  9.9,  9.8,  9.9,
        9.5,  9.9,  9.6,  9.8, 10. , 10. ,  9.9, 10. , 10. ,  9.8,  9.4,
        9.7,  9.9,  9.8, 10. , 10. , 10. , 10. , 10. , 10. , 10. , 10. ,
        9.9,  9.8, 10. , 10. , 10. , 10. , 10. , 10. ,  9.8,  9.9, 10. ,
       10. ,  9.7,  9.9, 10. ,  9.8,  9.5,  9.4,  9.7,  9.5,  9.7,  9.7,
        9.8,  9.8,  9.8,  9.8,  9.7,  9.7,  9.8,  9.9,  9.8,  9.7,  9.7,
        9.8,  9.7,  9.8,  9.8,  7.5,  9.6,  9.3,  9.6,  9.2,  9.3,  8.3,
        9.2,  8.9,  2.7,  1. ,  1.3,  1.6,  9.5,  9.3,  9.6,  9.4,  9.6,
        9.6,  9.9, 10. , 10. , 10. ,  9.9, 10. , 10. ,  9.9,  9.7,  9.7,
        9. ,  8.1,  9.4,  9.6,  9.7,  9.5,  6.7,  9.4,  9.1,  8.8,  9.6,
        7.9,  9.3,  8.4,  4.6,  9.3,  8.6,  9.5,  9.6,  9.8,  8.9,  9.8,
       10. ,  9.8,  9.9,  9.8, 10. ,  9.9,  9.8])

In [120]:
# Same goes for ['nM library']
# Look what values are in ['RIN'] what could explain the wrong called dtype.
df_merged['nM library'].values



# Change dtype to float

array([nan, nan, nan, nan, 87.10074945533769, 99.98972093023256,
       82.6307037037037, 86.24423161764706, 55.8359219858156,
       82.69426585365854, 67.10235376044568, 101.8129867256637,
       88.3277268370607, 74.2476161228407, 69.57553846153847,
       84.13217493796526, 79.70534634146343, 74.19330258302583,
       67.12480504908835, 73.35346014492752, 42.238058748403574,
       80.28123063063063, 70.80185055643878, 86.71599236641221,
       39.29061654135338, 97.07677857142855, 84.60030212765956,
       82.42811009174312, 83.02569948186527, 90.14962857142856,
       85.50569673202614, 106.25976666666665, 72.12122807017543,
       83.30110659898477, 91.53284671532847, 88.45419649122806,
       91.31916856492028, 58.36853932584269, 84.72275202780996,
       103.3317100840336, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       10.472237061769615, 14.39862862862863, 10.82371705963939,
       7.071029177718832, 26.879706858407086, 24.834822134387345,
       28.42899082568807, 9.543272727272727, 11.260352760736197,
       28.57162479061977, 17.766683168316835, 28.94817391304348,
       19.17355371900826, 19.37087248322148, 12.254794520547945,
       16.564661354581677, 9.727272727272728, 4.926619718309859,
       11.567213114754098, 12.846904761904762, 28.774953271028046,
       13.491352040816327, 6.062615384615385, 21.755974842767298,
       15.63520987654321, 11.315091463414634, 28.94684210526316,
       25.787604690117256, 41.450112000000004, 35.06553719008265,
       28.755073529411764, 35.32860377358491, 29.43365551425031,
       37.875539568345324, 17.815500000000004, 16.285408163265306,
       19.95459401709402, 14.925522788203752, 24.934011299435028,
       27.282524271844657, 14.265991902834008, 55.682483660130714,
       32.87566153846154, '-', 10.07748, 71.82863090128755, 53.124,
       51.584, 49.49908, 43.16949074074074, 37.439600000000006,
       26.502910052910053, 31.722118742724096, 29.994111261872455,
       45.197878612716764, 22.409881201956672, 37.90253993610224,
       20.356103247293923, 35.633392241379305, 19.020580325548483,
       37.61223021582734, 16.64670408163265, 24.118327574291644,
       20.622730989370403, 21.26785907859079, 66.63934426229508,
       12.638638613861385, 10.197988505747125, 26.97756738987508,
       23.796978851963747, 14.054222222222219, 15.34619102416571,
       29.43191293684856, 21.40857373086221, 10.532327044025159,
       22.26237837837838, 24.008763608087094, 55.661228813559326,
       51.50180790960451, 40.157051826678, 23.15484581497797,
       13.203381502890176, 31.03473728813559, 35.449832,
       23.03114355231143, 28.470689655172418, 16.23655120481928,
       13.78996282527881, 37.48197709923665, 24.788962264150946,
       19.82388304093567, 26.504160506863776, 33.376880597014924,
       32.464065040650404, 57.17345728643216, 42.29422627737227,
       45.09746308724832, 13.418607809847199, 48.598064516129035,
       41.807354037267075, 57.49016371681415, 34.27939097744361,
       54.923352040816326, 61.70758823529411, 36.9747027027027,
       36.678219178082195, 40.34, 53.09, 62.37, 50.16, 32.85, 65.04, '-',
       '-', '-', '-', 53.24, 91.97, 48.14, 48.79, 69.26, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
       nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],
      dtype=object)

In [110]:



# dtype
# quality inspected and reported.
# missing values
# outliers (PLOT?)

,Sample,dil. Factor,Nanodrop (ng/ul),Naodrop dil. (ng/ul),Cal. Conc. (ng/ul),260/280 ratio (~2.0),260/230 ratio (2.0-2.2),nM library,Unnamed: 5,Unnamed: 6,TS (ng/ul),Cal. Conc (ng/ul),RIN,TS Type
0,Johnny R0,3.92,19.6,5.4,21.168,1.80,0.95,NaN,NaN,NaN,2.68,10.5056,6.3,HS
1,Johnny R2,3.00,15.0,NaN,NaN,1.73,0.93,NaN,NaN,NaN,25.60,76.8000,5.8,HS
2,Johnny R4,2.10,10.5,NaN,NaN,1.74,1.04,NaN,NaN,NaN,2.29,4.8090,5.1,HS
3,Johnny R6,2.84,14.2,5.4,15.336,1.80,0.66,NaN,NaN,NaN,3.49,9.9116,7.5,HS
4,John Doe 1,3.18,15.9,NaN,NaN,2.05,1.42,87.100749,ND conc. Used for library prep,NaN,5.20,16.5360,9.5,HS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,SQ9 poly p99,1.00,213.6,NaN,NaN,2.17,2.33,NaN,NaN,Samples worden in dec 2022 geprepped,182.00,182.0000,9.9,SS
256,SQ9 poly p50,1.00,169.1,NaN,NaN,2.19,2.40,NaN,NaN,Samples worden in dec 2022 geprepped,188.00,188.0000,9.8,SS
257,WA09 p88,1.00,208.2,NaN,NaN,2.18,2.33,NaN,NaN,Samples worden in dec 2022 geprepped,224.00,224.0000,10,SS
258,GSD1B RE p3,1.00,119.7,NaN,NaN,2.23,2.40,NaN,NaN,Samples worden in dec 2022 geprepped,129.00,129.0000,9.9,SS
259,BB_2 fibro p18,1.00,297.9,NaN,NaN,2.14,2.25,NaN,NaN,Samples worden in dec 2022 geprepped,355.00,355.0000,9.8,SS

### Data exploration

In [ ]:
# quantity inspected and reported.
# distribution (PLOT)
# test significance

### Data visualization

In [ ]:
# interactive visualisation